<div class="container">

    <%= form_for @user, :url => url_for(controller: "sessions", action: "create"), :html => {class: "form-signin"} do |f| %>
        
        <%= f.label :email, "E-mail" %><br>
        <%= f.text_field :email, class: "form-control" %>

        
        <%= f.label :password, "Enter your Password" %><br>
        <%= f.password_field :password, class: "form-control" %>
        
        
        <%= f.submit "Sign In", class: "btn btn-primary" %>
        

    <% end  %>

</div>