<h1>
<%= @project.name %> 
</h1>

<p> <%= link_to "Add task to project", new_project_task_url(@project) %></p>

<% if current_user.id == @tasks[0].user_id || current_user.admin %>
    <%= link_to "Edit Project", edit_project_path(@project) %>

<%=   link_to 'Delete Project', @project, method: :delete, data: { confirm: 'Are you sure?' } %> 
<% end %>
<% tasks = @project.tasks %>
<%= render partial: 'tasks/tasklist', :locals => {:@tasks => tasks}%>